body {
    font-family: Arial, sans-serif;
    padding: 20px;

}

h1 {
    color: #0000c1;
}

.body-image {
    background-image: url('../main/images/kfc2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.body-menu {
    background-image: url('../main/images/ayam.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.body-chekout {
    background-image: url('../main/images/metode3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.body-payment {
    background-image: url('../main/images/metode3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #a0522d;

}

nav a:hover {
    color: #6b4f4f;
}

form input {
    padding: 5px;
}

form button {
    padding: 5px 10px;
    background-color: #6b4f4f;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #a0522d;
}

